body {
	width: 1366px;
	height: 768px;
	margin: auto;
	overflow-y: scroll;
	margin-top: 1rem;
	background-color: #993b9908;
	font-family: 'Roboto', sans-serif;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #993b9924;
	padding: 0.5em;
}

.profile-picture {
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 5em;
	border: purple 2px solid;
}

.menu ul {
	display: inline-flex;
	list-style: none;
	width: 20%;
}

.menu li {
	width: 50%;
	margin: auto;
}

.menu ul li a {
	text-decoration: none;
	font-size: x-large;
}

.menu ul li a:visited,
.menu ul li a:link {
	color: black;
}
